.Spin {
    animation: rotation 2s infinite linear;
}

.Virus {
  font-size: 25px
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }